[._$~]*
!.git*
[Dd]esktop.ini
[Tt]umbs.db

Language/*.bmp

*.*[_$~]
*.[_$~]*
*.[7bglx]z
*.[ab]r
*.[bp]ak
*.bin
*.bz2
*.ca[bt]
*.ch[kmw]
*.com
*.[dejrstwx]ar
*.dll
*.exe
*.l[cn]k
*.liz
*.lock
*.*log
*.*lz
*.lz[2-5hx]
*.map
*.ms[impu]
*.new
*.old
*.orig
*.o[pu]t
*.*pack
*.pi[df]
*.*pkg
*.py[cdox]
*.s[7q]z
*.sw[op]
*.t[abgpx]z
*.tbz?
*.*tmp
*.*zip
*.*zip?
*.*zst
*.*zstd